
.navbar {
  -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out,text-shadow .25s ease-in-out;
  -moz-transition: background .5s ease-in-out,padding .5s ease-in-out,text-shadow .25s ease-in-out;
  transition: background .5s ease-in-out,padding .5s ease-in-out,text-shadow .25s ease-in-out;
}

.navbar-brand {
  /* I don't like this hack, but with the font on Chrome this looks better!*/
  margin-top: -1px;
}

.navbar-default {
  background-color: rgba(black, 0.84);
  color: $light-text-color;
  text-shadow: 0 0 5px white;
  border-bottom: 0;

  a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;

    color: $light-text-color;
  }

  .navbar-brand {
    font-weight: 700;
  }

  .navbar-toggle {
    line-height: 1;
    height: 34px;
  }

  .navbar-toggle:hover,
  .navbar-toggle:focus,
  .navbar-nav > li > a:hover,
  .navbar-nav > li > a:focus,
  .navbar-nav > .active > a:focus,
  .navbar-nav > .active > a:hover,
  .navbar-nav > .active > a {
    background-color: rgba($light-text-color, 0.3);
  }

  .navbar-brand,
  .navbar-text,
  .navbar-nav,
  .navbar-nav > .active > a,
  .navbar-nav > li > a {
    &, &:hover, &:focus {
      color: $light-text-color;
    }
  }
}

.navbar-transparent {
  /* transparent on non small screens only */
  @media (min-width: $screen-sm-min) {
    background: transparent;
    text-shadow: 0 0 5px black;
    padding: 20px 0px;
  }
}

