---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$spacing-unit:                            32px;

/* Override stuff from bootstrap */
$body-bg:                                 #fdfdfd;
$line-height-base:                        1.5;
/*$font-family-base:                        Helvetica, Arial, sans-serif;*/
$font-size-base:                          16px;
$text-color:                              #111;
$light-text-color:                        #fff;
$brand-primary:                           #2a7ae2;

$navbar-default-bg:                       rgba($body-bg, 0.93);
$navbar-default-border:                   rgba($text-color, 0.3);
$navbar-default-color:                    $text-color;

$navbar-default-link-color:               $text-color;
$navbar-default-link-color:               $text-color;
$navbar-default-link-hover-color:         $text-color;
$navbar-default-link-active-color:        $text-color;
$navbar-default-link-disabled-color:      $text-color;
$navbar-default-link-active-bg:           darken($navbar-default-bg, 10%);
$navbar-default-link-hover-bg:            darken($navbar-default-bg, 10%);








@import "bootstrap";

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: 15px;
}

@import "syntax-highlighting";

body {
  padding-top: 50px;
}

.footer {
    border-top: 1px solid $grey-color-light;
    padding: 30px;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}

@import "navigation";

