---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$spacing-unit:                            32px;

/* Override stuff from bootstrap */
$body-bg:                                 #fdfdfd;
$line-height-base:                        1.5;
/*$font-family-base:                        Helvetica, Arial, sans-serif;*/
$font-size-base:                          16px;
$text-color:                              #111;
$light-text-color:                        #fff;
$brand-primary:                           #2a7ae2;

$navbar-default-bg:                       rgba($body-bg, 0.93);
$navbar-default-border:                   rgba($text-color, 0.3);
$navbar-default-color:                    $text-color;

$navbar-default-link-color:               $text-color;
$navbar-default-link-color:               $text-color;
$navbar-default-link-hover-color:         $text-color;
$navbar-default-link-active-color:        $text-color;
$navbar-default-link-disabled-color:      $text-color;
$navbar-default-link-active-bg:           darken($navbar-default-bg, 10%);
$navbar-default-link-hover-bg:            darken($navbar-default-bg, 10%);

@import "bootstrap";



html, body {
  height: 100%;
  width: 100%;
}

.vertical-center {
  display: flex;
  align-items: center;
}

.vertical-baseline {
  display: flex;
  align-items: baseline;
}

.vertical-top {
  display: flex;
  align-items: flex-start;
}

.vertical-bottom {
  display: flex;
  align-items: flex-end;
}

.bg-dark-gray {
  background-color: $gray-dark;
}

.section {
  padding-top: $spacing-unit;
  padding-bottom: 15px;
}

.section-light {
  @extend .section;
  color: $light-text-color;
}

.section-img-overlay {
  @extend .section-light;
  text-shadow: 0px 0 5px black;
}

.post {
  padding-top: $spacing-unit / 2;
}

.post-meta {
  margin-top: 0px;
  color: lighten($text-color, 50%);
  font-size: $font-size-small;
}

.post-content {
  p {
    margin: 16px 0px;
  }

  img {
    max-width: 100%;
  }
}

.rss-subscribe {
  margin-top: 15px;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.icon > svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;

  path {
    fill: $gray-light;
  }
}

@import "navigation";
@import "intro";
@import "molokai";

