  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</title>

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/atom+xml" title="Recent Entries" href="{{ "/blog/atom.xml" | prepend: site.baseurl }}" />

    <link rel="shortcut icon" type="image/png" href="{{ "/img/favicon.png" | prepend: site.baseurl }}" />
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src="{{ "/js/jquery-1.12.0.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/jquery.easing-1.3.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>

    <script>
    {% if page.navbar %}
      function navbarAnimate() {
        if ($(".navbar").offset().top > 128) {
          $(".navbar-fixed-top").removeClass("navbar-{{ page.navbar }}");
        } else {
          $(".navbar-fixed-top").addClass("navbar-{{ page.navbar }}");
        }
      }
      $(window).scroll(navbarAnimate);
      $(document).ready(navbarAnimate);
    {% endif %}

      $(function() {
        $('a.page-scroll').bind('click', function(event) {
          var $offset = $($(this).attr('href')).offset();
          if ($offset) {
            var a = $(this);
            $('html, body').stop().animate({
              scrollTop: $offset.top - 50
            }, 1500, 'easeInOutExpo', function() { a.blur() });
          }
          event.preventDefault();
        });

        $(".navbar-collapse ul li a").click(function(){$(".navbar-collapse").collapse('hide')});
        $(".navbar-brand").click(function(){$(".navbar-collapse").collapse('hide')})
      });
    </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', '{{ site.google_analytics_tracking_id }}', 'auto');
      ga('send', 'pageview');
    </script>

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@{{ site.twitter_username }}">
    <meta name="twitter:creator" content="@{{ site.twitter_username }}">
    <meta name="twitter:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    {% if page.title %}
      <meta name="og:title" content="{{ page.title }}">
      <meta name="twitter:title" content="{{ page.title }}">
    {% else %}
      <meta name="og:title" content="{{ site.name }} - {{ site.title }}">
      <meta name="twitter:title" content="{{ site.name }} - {{ site.title }}">
    {% endif %}
    {% if page.description %}
      <meta name="description" content="{{ page.description }}">
      <meta name="og:description" content="{{ page.description }}">
      <meta name="twitter:description" content="{{ page.description }}">
    {% else %}
      {% if page.excerpt  %}
        <meta name="description" content="{{ page.excerpt | strip_html }}">
        <meta name="og:description" content="{{ page.excerpt | strip_html }}">
        <meta name="twitter:description" content="{{ page.excerpt | strip_html }}">
      {% else %}
        <meta name="description" content="{{ site.description }}">
        <meta name="og:description" content="{{ site.description }}">
        <meta name="twitter:description" content="{{ site.description }}">
      {% endif %}
    {% endif %}
    {% if page.image %}
    <meta name="og:image" content="{{ page.image | prepend: site.baseurl | prepend: site.url }}">
    <meta name="twitter:image:src" content="{{ page.image | prepend: site.baseurl | prepend: site.url }}">
    {% endif %}
  </head>
