<nav class="navbar navbar-default text-uppercase navbar-fixed-top {% if page.navbar %}navbar-{{ page.navbar }}{% endif %}" role="navigation">
  <div class="container">
      <div class="navbar-header">
        {% if page.landing %}
          <a class="navbar-brand page-scroll" href="#page-top">{{ site.name }}</a>
        {% else %}
          <a class="navbar-brand" href="{{ "/" | prepend: site.baseurl }}">{{ site.name }}</a>
        {% endif %}
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="glyphicon glyphicon-menu-hamburger"></span>
        </button>
      </div>
      <div id="haaspors-navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a class="hidden active" href="#page-top"></a></li>
          {% for item in site.nav-pages %}
          <li><a href="/{{ item | prepend: site.baseurl }}/">{{ item }}</a></li>
          {% endfor %}
        </ul>
        {% if page.nav-sections %}
        <ul class="nav navbar-nav navbar-right">
          {% for item in page.nav-sections %}
          <li><a class="page-scroll" href="#{{ item }}">{{ item }}</a></li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
  </div>
</nav>
