---
layout: default
comments: true
---
<div class="post">

  <section id="post" class="container section">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 col-md-8">
        <header class="post-header">
          <h1 class="post-title">{{ page.title }}</h1>
          <div class="post-meta">
            {{ page.date | date: "%Y, %b %-d" }}{% if page.author %} • {{ page.author }}{% endif%}{% if page.meta %} • {{ page.meta }}{% endif %}
            <ul class="categories">
            {% for cat in page.categories %}
              <li><a class="tag" href="{{ "/categories/#" | prepend: site.baseurl }}{{ cat }}">{{ cat }}</a></li>
            {% endfor %}
            </ul>
          </div>
        </header>

        <article class="post-content">
          {{ content }}
        </article>
        <ul class="tags">
        {% for tag in page.tags %}
          <li><a class="tag" href="{{ "/tags/#" | prepend: site.baseurl }}{{ tag }}">{{ tag }}</a></li>
        {% endfor %}
        </ul>
        <div class="text-center">
          <!--<ul class="social social-horiz social-light">-->
          {% assign urlescaped = page.url | prepend: site.baseurl | prepend: site.url | cgi_escape %}
          {% assign titleescaped = page.title | cgi_escape %}
          <ul class="social social-horiz social-brand-clr">
            <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ urlescaped }}&t={{ titleescaped }}" target="_blank" title="Share on Facebook"><i class="fa fa-facebook-square fa-2x"></i></a></li>
            <li><a href="https://twitter.com/intent/tweet?source={{ urlescaped }}&text={{ titleescaped }}: {{ urlescaped }}&via=haaspors" target="_blank" title="Tweet"><i class="fa fa-twitter-square fa-2x"></i></a></li>
            <li><a href="https://plus.google.com/share?url={{ urlescaped }}" target="_blank" title="Share on Google+"><i class="fa fa-google-plus-square fa-2x"></i></a></li>
            <li><a href="http://pinterest.com/pin/create/button/?url={{ urlescaped }}&description=" target="_blank" title="Pin it"><i class="fa fa-pinterest-square fa-2x"></i></a></li>
            <li><a href="http://www.reddit.com/submit?url={{ urlescaped }}&title={{ titleescaped }}" target="_blank" title="Submit to Reddit"><i class="fa fa-reddit-square fa-2x"></i></a></li>
            <li><a href="http://www.linkedin.com/shareArticle?mini=true&url={{ urlescaped }}&title={{ titleescaped }}&summary=&source={{ urlescaped }}" target="_blank" title="Share on LinkedIn"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
            <li><a href="mailto:?subject={{ titleescaped }}&body=: {{ urlescaped }}" target="_blank" title="Email"><i class="fa fa-envelope-square fa-2x"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>

</div>
