---
layout: default
---
<div class="resume">

  <section id="post" class="container section">
    <header class="resume-header">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-lg-6">
          <h1 class="resume-title">{{ page.title }}</h1>
        </div>
      </div>
    </header>

    <article class="resume-content">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-lg-6">
          {{ content }}
        </div>
      </div>
    </article>
  </section>

</div>

